<% settings = @settings.is_a?(Hash) ? @settings : {} %>

<h3><%= l(:including_external_libraries) %></h3>

<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_select2_lib]', true, settings['enable_select2_lib'] %>
    &mdash; <%= l(:settings_enable_select2_lib) %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_highcharts_lib]', true, settings['enable_highcharts_lib'] %>
    &mdash; <%=l(:settings_enable_highcharts_lib) %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_bootstrap_lib]', true, settings['enable_bootstrap_lib'] %>
    &mdash; <%=l(:settings_enable_bootstrap_lib) %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal; padding-left: 40px;">
    <%=check_box_tag 'settings[enable_bootstrap_lib_for_luxury_buttons]', true, settings['enable_bootstrap_lib_for_luxury_buttons'] %>
    &mdash; <%=l(:settings_enable_bootstrap_lib_for_luxury_buttons).html_safe %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_qmpicker]', true, settings['enable_qmpicker'] %>
    &mdash; <%=l(:settings_enable_qmpicker_lib) %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_javascript_patches]', true, settings['enable_javascript_patches'] %>
    &mdash; <%=l(:settings_enable_javascript_patches).html_safe %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_modal_windows]', true, settings['enable_modal_windows'] %>
    &mdash; <%=l(:settings_enable_modal_windows).html_safe %>
  </label>
</div>
<div style="overflow: hidden">
  <label style="margin-left: 0px; width: auto; font-weight: normal;">
    <%=check_box_tag 'settings[enable_font_awesome]', true, settings['enable_font_awesome'] %>
    &mdash; <%=l(:settings_enable_font_awesome).html_safe %>
  </label>
</div>

<%= render file: File.join(File.dirname(__FILE__), '_rmplus_logo.html.erb') %>